/*Main Sections para pages*/
#main__section__pages {
  width: $wDsk;
  margin: 20px auto 35px;    
    h1.main__text__pages {
      margin-bottom: 10px;
    }
    p.main__description__pages {
      text-indent: 30px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 5px;
      text-align: justify;
    }
    p.contactenos {
      text-align: end;
    }
    h3.main__text__pages__subtitle {
      margin-top: 25px;
      margin-bottom: 10px;
      font-variant: small-caps;
      font-weight: 600;
    }
    ul.seguros {
      list-style-type: none;
      text-indent: 10px;
      line-height: 35px;
    } 
}

.contacto__container {
  display: flex;
  justify-content: space-between;
  &_list {
    list-style-type: none;
    line-height: 50px;
  }
  &_column1 {
    width: 35%;
  }
  &_column2 {
    width: 35%;
    border-left: 1px solid #B2B2B2;
    padding-left: 15px;
  }
  &_column3 {
    border: 1px solid #B2B2B2;
  }
}
.map__responsive {
  display: none;
}
.formImput {
  width: $wMbl;
  height: 40px;
}
#msg {
  height: 100px;
} 

.btn {
  background-color: #757575;
  border: 0;
}
